html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main-wrap {
  min-height: 100%;
  position: relative;
}

.wrap {
  width: 1804px;
  margin: 0 auto;
}

.btn, button {
  display: inline-block;

  font-size: 22px;
  padding: 0 37px;

  border-width: 2px;
  border-style: solid;

  line-height: 48px;

  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

button.btn {
  line-height: 46px;
}

.btn-primary {
  color: #666666;
  background: #f6f7f8;

  border-color: #d9d9d9;
}

.btn-primary:hover {
  background: #DDDEDF;
}

.btn-secondary {
  color: #fff;
  background: #50b9b3;
}

.btn-secondary:hover {
  background: #62C0BB;
}

.clear {
  clear: both;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.underline {
  text-decoration: underline;
}

hr {
  background: #51b8b2;
  border: 0px;
  height: 2px;
  margin: 20px 0;
}

#content {
  padding-bottom: 110px;
}

/*** header ***/
#header {
  background: #e7e7e7;
  height: 106px;

  padding: 0 43px;

  margin: 0 0 68px 0;
}

#header #logo {
  float: left;
  line-height: 106px;
  height: 106px;

  display: block;
  margin-right: 120px;
}

#header #logo img {
  vertical-align: middle;
}

#header .signin {
  float: right;
  color: #666;
  top: 62px;
  font-size: 20px;
}

/*** menu ***/
.main-menu {
  margin: 0px;
  padding: 0px;

  position: relative;
  top: 46px;
}

.main-menu li {
  float: left;
  list-style: none;

  margin: 0 18px;
}

.main-menu li a {
  display: block;
  line-height: 60px;
  color: #666666;
  text-decoration: none;
  padding: 0 13px;
  font-size: 28px;
}

.main-menu li.current a,
.main-menu li:hover a {
  background: #fff;
}

/*** actions bar ***/
#actions-bar {
  padding: 0 0 44px 0;
  margin: 0 0 40px 0;

  border-bottom: 1px solid #51b8b2;
}

#actions-bar.stacked {
  padding-bottom: 20px;
}

#actions-bar.stacked h2 {
  margin: 0px;
  line-height: 55px;
}

#actions-bar .search-form {
  float: right;
}

.action-button {
  margin-left: 52px;
}

.select-cat-head {
  margin-left: 0px !important;
}

.margin-top-ele {
  margin-top: 40px;
}

#actions-bar .checkbox {
  line-height: 53px;
}

#actions-bar .filters {
  margin-top: 0px;
}

/*** bump table ***/
.bump-table {
  width: 100%;
  border-collapse: collapse;
}

.bump-table thead {
  background: #e7e7e7;
}

.bump-table th {
  font-size: 20px;
  text-align: left;
  padding: 0 28px;
  height: 68px;

  font-weight: normal;

  position: relative;
}

.bump-table th .separator {
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 10px;
  width: 1px;
  background: #999999;
}

.bump-table th:last-child .separator {
  display: none;
}

.bump-table th .fa {
  margin-left: 10px;
  color: #999999;
}

.bump-table td {
  padding: 16px 28px;
  height: 60px;  
}

.bump-table > tbody > tr:nth-of-type(even) {
  background: #f9f9f9;
}

.bump-table .edit {
  vertical-align: top;

  border-bottom: 1px solid #999999;
}

.bump-table .domains .domain {
  margin: 0 0 10px;
  width: 100%;
}

.bump-table .domains .domain input[type=text] {
  margin-right: 5px;
  width: 80%;
}

.bump-table .domains .domain span {
  font-weight: bold;
}

.bump-table .domains .add-domain {
  float: right;
  margin: 15px 0 0 0;
}

.bump-table .status {
    vertical-align: top;
}

.bump-table select {
  float: left;
  clear: left;

  margin: 0 0 10px;
}

.bump-table .btn {
  margin-top: 15px;
  vertical-align: bottom;
}

.bump-table input[type="submit"] {
  float: right;
  clear: both;
}

/*** filter bar ***/
.filter-bar {
  margin-top: 155px;
}

.filter-bar .status {
  margin-right: 59px;
}

/*** footer ***/
#footer {
  border-top: 3px solid #51b8b2;
  width: 100%;
  height: 53px;
  position: relative;
  bottom: 0;
  left: 0;
  top: 50px;
}

/*** login box ***/
.login-box {
  background: #f9f9f9;

  max-width: 507px;
  height: 639px;

  margin: 0px auto 0;

  border: 1px solid #cccccc;

  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  box-shadow: 0px 7px 19px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 7px 19px rgba(0, 0, 0, 0.2);

  text-align: center;

  position: relative;
  top: 50%;
}

.login-box img {
  margin: 60px 0 44px;
}

.login-box input[type=text], .login-box input[type=password], .login-box input[type=email] {
  margin: 40px 0 0;
  width: 65%;
}

.login-box input[type=submit], .login-box a.btn {
  margin: 82px 0 0;
}

/*** photo grid ***/
.photo-grid .photo-wrap {
  height: 491px;

  overflow-y: auto;
}

.photo-grid .photo-wrap div {
  position: relative;
  float: left;
  margin: 0 17px 25px 0;
  border: 3px solid #e1e1e1;
}

.photo-grid div.selected {
  border-color: #51b8b2;
  position: relative;
}

.photo-grid div.selected span {
  background: url(../../assets/images/photo-checkbox.png) center center no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.photo-grid div img {
  display: block;
  padding: 5px;
}

/*** places ***/
.places-table th {
  padding-left: 25px;
  padding-right: 25px;
}

.places-table td {
  padding-left: 25px;
  padding-right: 25px;
}

/*** users ***/
.info-bar .user-name {
  margin-bottom: 0px;
}

.info-bar .activation-date p, .info-bar .role p {
  margin: 0px;
  font-size: 22px;
}

.info-bar .activation-date p span, .info-bar .role p span {
  margin-top: 19px;
  display: inline-block;
  font-size: 20px;
}

/*** evens ***/
.tag-list li {
  list-style: none;
  float: left;
  margin: 0 20px 15px 0;
}

.tag-list li .fa {
  color: red;
}

#events-form .tag-list {
  margin-left: 20%;
  padding-left: 7px;
}

/*** modal ***/
.modal-header {
  border-bottom: 2px solid #51b8b2;    
}

.modal-header h2 {
  margin: 0px;
  line-height: 55px;
}

/*** datatable pagination ***/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0 2px;
    cursor: pointer;
    text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    text-decoration: none;
    background: none;
    cursor: default;
    color: #51b8b2;
}