body {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #666666;	
}

p{
	
}

a {
	color: #51b8b2;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
}

h1 {
	
}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    
}

h6 {
    
}

ul, ol {
	
}

ul li, ol li {
	
}

ul li {
	
}

ol li {
	
}