<div ng-init="Users.init()">
  <table datatable="ng" dt-options="Users.dtOptions" dt-column-defs="Users.dtColumnDefs"
         class="row-border hover bump-table places-table">
    <thead>
    <tr>
      <th>Business Name <span class="separator"></span></th>
      <th>Contact Name <span class="separator"></span></th>
      <th>Email <span class="separator"></span></th>
      <th>Place(s) <span class="separator"></span></th>
      <th>Business Type <span class="separator"></span></th>
      <th>Status <span class="separator"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="Users.userList.length" ng-init="editMode=false" class="edit table-row cursor-pointer"
        ng-repeat="user in Users.userList"
        ng-click="editMode = !editMode">
      <td>
        <p>{{user.businessName}}</p>
        <a ng-show="editMode && (Users.isAuthorisedUser || user.type === 'PROFIT')"
           class="btn btn-primary btn-more"
           ng-click="Users.editUserDetails($index,user);$event.stopPropagation()">More</a>
      </td>
      <td>{{user.contactNames.toString()}}</td>
      <td><p>{{user.email}}</p></td>
      <td class="text-center"><p>{{user.bPlaces}}</p></td>
      <td class="text-center">{{user.type}}</td>
      <td class="text-center">
        <p ng-if="!(editMode && Users.isAuthorisedUser && (user.status | isEditableState))">{{user.status}}</p>

        <div ng-if="editMode  && Users.isAuthorisedUser && (user.status | isEditableState)">
          <select class="select-btn" ng-options="state for state in Users.ALLOWED_AUTHORIZATION_STATE"
                  ng-model="Users.userList[$index].status" ng-click="$event.stopPropagation()">
          </select>
        </div>
        <input ng-show="editMode && Users.isAuthorisedUser" class="btn btn-secondary" type="button"
               ng-click="Users.saveUserDetails($index, user);$event.stopPropagation()"
               value="Save">
      </td>
    </tr>
    </tbody>
  </table>
</div>
