<div ng-init="Users.init()">
	<div ng-hide="Users.isMoreButtonClicked" id="actions-bar">
		<a ng-if="Users.isAuthorisedUser" class="btn btn-primary"
		   ng-click="Users.addUser()">Add User <i class="fa fa-plus-circle"></i></a>

		<div class="f-right">
			<p class="filters"><strong>Filter Users:</strong>
				<a class="active underline" ui-sref="users.regular" ng-click="Users.changeCurrentFilter($event, 'REGULAR')">Regular</a> &#124;
				<a id="bump" ui-sref="users.bump" ng-click="Users.changeCurrentFilter($event, 'LAUNCHSQUAD')">Bump</a> &#124;
				<a ui-sref="users.admin" ng-click="Users.changeCurrentFilter($event, 'ADMIN')">Admin</a> &#124;
				<a ui-sref="users.editor" ng-click="Users.changeCurrentFilter($event, 'EDITOR')">Editor</a> &#124;
				<a id="business" ui-sref="users.business" ng-click="Users.changeCurrentFilter($event, 'BUSINESS')">Business</a>
			</p>
		</div>
	</div>
	
	
	<table ng-if="Users.showDT" datatable="" dt-options="Users.dtOptions" dt-columns="Users.dtColumns" dt-instance="Users.dtInstance" class="row-border hover bump-table">     
	</table>
</div>