<div ng-init="Users.init()">
  <table datatable="ng" dt-options="Users.dtOptions" dt-column-defs="Users.dtColumnDefs"
         class="row-border hover bump-table places-table">
    <thead>
    <tr>
      <th>User Name <span class="separator"></span></th>
      <th>Email <span class="separator"></span></th>
      <th>Sessions <span class="separator"></span></th>
      <th>Events <span class="separator"></span></th>
      <th>Places <span class="separator"></span></th>
      <th>Friends <span class="separator"></span></th>
      <th>Role <span class="separator"></span></th>
      <th>Status <span class="separator"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="Users.userList.length" ng-init="editMode=false" class="edit table-row cursor-pointer"
        ng-repeat="user in Users.userList"
        ng-click="editMode = !editMode">
      <td>
        <p>{{user.firstName}} {{user.lastName}}</p>
        <a ng-show="editMod && Users.currentUser.role===Users.USER_ROLES_OBJ.ADMINe" class="btn btn-primary btn-more"
           ng-click="Users.editUserDetails($index,user);$event.stopPropagation()">More</a>
      </td>
      <td><p>{{user.email}}</p></td>
      <td class="text-center"><p>{{user.sessions}}</p></td>
      <td class="text-center"><p>{{user.events}}</p></td>
      <td class="text-center"><p>{{user.places}}</p></td>
      <td class="text-center"><p>{{user.friends}}</p></td>
      <td class="text-center">
        <p ng-if="!(editMode && (user.role | isEditableRole) && Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN)">
          {{user.role}}</p>

        <div ng-if="editMode  && (user.role | isEditableRole) && Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN">
          <select class="select-btn" ng-options="role for role in Users.ALLOWED_USER_ROLES"
                  ng-model="Users.userList[$index].role" ng-click="$event.stopPropagation()">
          </select>
        </div>
      </td>
      <td class="text-center">
        <p ng-if="!(editMode  && (user.status | isEditableState) && Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN)">
          {{user.status}}</p>

        <div
            ng-if="editMode  && (user.status | isEditableState) && Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN">
          <select class="select-btn" ng-options="state for state in Users.ALLOWED_AUTHORIZATION_STATE"
                  ng-model="Users.userList[$index].status" ng-click="$event.stopPropagation()">
          </select>
        </div>
        <input ng-show="editMode && Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN" class="btn btn-secondary"
               type="button"
               ng-click="Users.saveUserDetails($index, user);$event.stopPropagation()"
               value="Save">
      </td>
    </tr>
    </tbody>
  </table>
</div>
