<div ng-init="EventDetails.init()">
    <div id="actions-bar" class="stacked">
        <div class="group">
            <div class="f-left margin-top-10"
                 ng-if="(EventDetails.currentUser.role !== EventDetails.USER_ROLES_OBJ.ADMIN && EventDetails.currentUser.role !== EventDetails.USER_ROLES_OBJ.EDITOR)">
                <span>{{EventDetails.currentObject.status}}</span>
            </div>
            <div
                ng-if="EventDetails.EP_STATES && (EventDetails.currentUser.role === EventDetails.USER_ROLES_OBJ.ADMIN || EventDetails.currentUser.role === EventDetails.USER_ROLES_OBJ.EDITOR)"
                class="f-left">
                <select ng-click="$event.stopPropagation()"
                        ng-options="status as status for status in EventDetails.EP_STATES"
                        ng-model="EventDetails.currentObject.status">
                </select>
            </div>
            <div class="f-left" ng-if="EventDetails.event.recurrence_type !== 'NEVER'">
                <div class="edit-all-center">
                    <input id="bump" type="checkbox" ng-model="EventDetails.currentObject.editAll">
                    <label for="bump">Edit All<span></span></label>
                </div>
            </div>
            <div class="f-right">
                <form ng-submit="EventDetails.updateEvent()">
                    <button class="btn btn-primary action-button" type="button"
                            ng-click="EventDetails.CreateNewEventBasedOnCurrent()">Create a new event based on this one
                    </button>

                    <input class="btn btn-secondary action-button" type="submit" value="Update"/>
                </form>
            </div>
        </div>

        <hr/>

        <div class="group">
            <h2 class="f-left">{{EventDetails.event.title}}</h2>&nbsp
            <div class="f-right">
                <div class="f-left action-button">
                    <label>Category</label>
                    <select ng-if="EventDetails.EVENT_CATEGORIES" ng-model="EventDetails.currentObject.category"
                            ng-click="$event.stopPropagation()"
                            ng-options="category.value for category in EventDetails.EVENT_CATEGORIES track by category.id">
                    </select>
                </div>
                <div ng-if="EventDetails.EVENT_CATEGORY_TYPES" class="f-left action-button">
                    <label>&nbsp;</label>
                    <select ng-click="$event.stopPropagation()"
                            ng-options="category as category for category in EventDetails.EVENT_CATEGORY_TYPES"
                            ng-model="EventDetails.currentObject.categoryType">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <form id="events-form" class="two-col-form">
            <fieldset>
                <div class="col col-1">
                    <div class="field">
                        <label for="createdBy">Created By:</label>
                        <span
                            ng-if="(EventDetails.currentUser.role !== EventDetails.USER_ROLES_OBJ.ADMIN && EventDetails.currentUser.role !== EventDetails.USER_ROLES_OBJ.EDITOR)">{{EventDetails.event.creator_name}}</span>

                        <div
                            ng-if="EventDetails.currentUser.role === EventDetails.USER_ROLES_OBJ.ADMIN || EventDetails.currentUser.role === EventDetails.USER_ROLES_OBJ.EDITOR">
                            <input type="text" id="createdBy" ng-model="EventDetails.event.creator_name"/>
                            <i class="fa fa-search search-icon" ng-click="EventDetails.searchCreators()"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label for="place">Event Place:</label>
                        <input type="text" id="place" ng-model="EventDetails.event.place_name"/>
                        <i class="fa fa-search search-icon" ng-click="EventDetails.searchPlaces()"></i>
                    </div>

                    <div class="field">
                        <label for="name">Event Name:</label>
                        <input type="text" id="name" ng-model="EventDetails.event.title"/>
                    </div>

                    <div class="field ">
                        <div class="time-fields">
                            <label class="f-left" for="startDate">Start Date:</label>

                            <div class='input-group date date-picker'
                                 date-picker-start-date
                                 data-date-default="EventDetails.currentObject.startDate"
                                 data-on-date-change="EventDetails.changeStartDate"
                                 id="startDate">
                                <input type='text' class="form-control" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="time-fields">
                            <label class="f-left" for="startTime">Start Time:</label>

                            <div class='input-group date date-picker'
                                 date-picker-start-time
                                 data-date-default="EventDetails.currentObject.startDate"
                                 data-on-time-change="EventDetails.changeStartTime"
                                 id="startTime">
                                <input type='text' class="form-control" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="time-fields">
                            <label class="f-left" for="endDate">End Date:</label>

                            <div class='input-group date date-picker'
                                 date-picker-end-date
                                 data-date-default="EventDetails.currentObject.endDate"
                                 data-on-date-change="EventDetails.changeEndDate"
                                 id="endDate">
                                <input type='text' class="form-control" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="time-fields">
                            <label class="f-left" for="endTime">End Time:</label>

                            <div class='input-group date date-picker'
                                 date-picker-end-time
                                 data-date-default="EventDetails.currentObject.endDate"
                                 data-on-time-change="EventDetails.changeEndTime"
                                 id="endTime">
                                <input type='text' class="form-control" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Recurrence Type:</label>
                        <span class="recurrence_type margin-top-10">{{EventDetails.event.recurrence_type}}</span>
                    </div>

                    <div class="field textarea">
                        <label for="description">Description:</label>

                        <textarea id="description" ng-model="EventDetails.event.description"></textarea>
                    </div>

                    <div class="field margin0">
                        <label for="tags">Tags:</label>
                        <input type="text" id="tags" ng-model="EventDetails.newTag"/>
                        <button class="btn btn-primary action-button" type="button" id="tag-add" ng-click="EventDetails.addNewKeyword()">Add
                        </button>
                    </div>

                    <div class="field">
                        <ul class="tag-list group">
                            <li ng-repeat="tag in EventDetails.event.keywords track by $index"><i class="fa fa-times-circle cursor-pointer"
                                                                                                  ng-click="EventDetails.removeKeyword($index)"></i>
                                {{tag}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="photo-upload">
                        <div class="file-drop-area">
                            <h2 class="upload-heading">Drop photos (jpegs only) here or</h2>
                            <span class="text-danger upload-position-fix">Note: <i>Maximum 10 images can be uploaded at
                                    once.</i></span>
                            <input type="file" class="upload upload-position-fix" multiple
                                   file-model='EventDetails.selectedFiles'
                                   accept=".jpg, .jpeg, video/*">
                            <button ng-disabled="!EventDetails.selectedFiles.length" class="btn btn-secondary upload-btn pull-right"
                                    ng-click="EventDetails.uploadFile()">Upload
                            </button>
                        </div>
                    </div>

                    <div class="photo-grid">
                        <h2>Select main Photo</h2>

                        <div class="photo-wrap">
                            <div ng-repeat="image in EventDetails.photos" ng-click="EventDetails.addBannerImage(image)"
                                 ng-class="{selected:EventDetails.isBannerImage(image)}">
                                <span></span>
                                <img ng-src="{{image.url}}" height="180px" width="220px"
                                     onerror="this.onerror=null; this.src='assets/images/stock-photo.png';" alt="stock photo">
                                <i class="btn-close-icon" ng-click="EventDetails.removeBannerImage($event, image)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
