<div ng-init="SelectCreatorModal.init()">
  <div class="modal-header group">
    <h2 class="f-left">Select Creator</h2>
  </div>
  <div class="modal-body">
    <select ng-if="SelectCreatorModal.creatorList" ng-model="SelectCreatorModal.selectedCreator" class="creator-select"
            ng-options="(creator.fullName+' ('+creator.email+')') for creator in SelectCreatorModal.creatorList track by creator.id">
    </select>
  </div>
  <div class="modal-footer">
    <div class="Actions" ng-if="SelectCreatorModal.selectedCreator.id">
      <input type="button" ng-click="SelectCreatorModal.ok()" class="btn btn-secondary action-button f-right" value="Save"/>
      <input type="button" ng-click="SelectCreatorModal.cancel()" class="btn btn-primary action-button f-right" value="cancel"/>
    </div>
    <div class="Actions" ng-if="!SelectCreatorModal.selectedCreator.id">
      <input type="button" ng-click="SelectCreatorModal.cancel()" class="btn btn-primary action-button f-right" value="Try again"/>
    </div>
  </div>
</div>
