<div ng-init="Events.init()">
  <div id="actions-bar">
    <a class="btn btn-primary" ng-click="Events.addEvents()">Add Events <i class="fa fa-plus-circle"></i></a>

    <div class="f-right">
      <p class="filters"><strong>Filter By:</strong>
        <a href="javaScript:void(0);" ng-click="Events.filterBy('ALL')">All</a> &#124;
        <a href="javaScript:void(0);" ng-click="Events.filterBy('ONGOING')">Ongoing</a> &#124;
        <a href="javaScript:void(0);" ng-click="Events.filterBy('FUTURE')">Upcoming</a> &#124;
        <a href="javaScript:void(0);" ng-click="Events.filterBy('PAST')">Past</a>
      </p>
    </div>
  </div>
  <div>
	  <table datatable="" dt-options="Events.dtOptions" dt-columns="Events.dtColumns" dt-instance="Events.dtInstance" class="row-border hover bump-table">     
	  </table>
  </div>
</div>
