<div ng-init="SelectPlaceModal.init()">
  <div class="modal-header group">
    <h2 class="f-left">Select Place</h2>
  </div>
  <div class="modal-body">
    <select ng-if="SelectPlaceModal.PlaceResult" ng-model="SelectPlaceModal.selectedPlace"
            ng-options="place.name for place in SelectPlaceModal.PlaceResult track by place.epId">
    </select>
  </div>
  <div class="modal-footer">
    <div class="Actions" ng-if="SelectPlaceModal.selectedPlace.epId">
      <input type="button" ng-click="SelectPlaceModal.ok()" class="btn btn-secondary action-button f-right" value="Save"/>
      <input type="button" ng-click="SelectPlaceModal.cancel()" class="btn btn-primary action-button f-right" value="cancel"/>
    </div>
    <div class="Actions" ng-if="!SelectPlaceModal.selectedPlace.epId">
      <input type="button" ng-click="SelectPlaceModal.cancel()" class="btn btn-primary action-button f-right" value="Try again"/>
    </div>
  </div>
</div>
