<div ng-init="AddUserModal.init()">
  <div class="modal-header group">
    <h2 class="f-left">Add User</h2>
    <select class="user-type f-right"
            ng-options="role as role for role in AddUserModal.USER_ROLES"
            ng-model="AddUserModal.userRole">
    </select>

  </div>
  <div class="modal-body">
    <form ng-if="AddUserModal.userRole!=='BUSINESS'" id="add-user-form">
      <fieldset>
        <div class="field">
          <label>First Name:</label>
          <input type="text" ng-model="AddUserModal.userInfo.firstName" placeholder="First Name" value=""/>
        </div>

        <div class="field">
          <label>Last Name:</label>
          <input type="text" placeholder="Last Name" ng-model="AddUserModal.userInfo.lastName" value=""/>
        </div>

        <div class="field">
          <label>Email:</label>
          <input type="email" ng-model="AddUserModal.userInfo.email" placeholder="Email" value=""/>
        </div>
      </fieldset>
    </form>

    <form ng-if="AddUserModal.userRole==='BUSINESS'" id="add-business-form" style="display: block;">
      <fieldset>
        <div class="field">
          <label>Business Type:</label>
          <select class="select-btn user-type f-right"
                  ng-options="businessType as businessType for businessType in AddUserModal.BUSINESS_TYPES"
                  ng-model="AddUserModal.businessUserInfo.businessType">
          </select>
        </div>

        <hr>

        <div class="field">
          <label>Business Name:</label>
          <input type="text" ng-model="AddUserModal.businessUserInfo.businessName" placeholder="Business Name">
        </div>

        <div class="field">
          <label>email:</label>
          <input type="email" ng-model="AddUserModal.businessUserInfo.email" placeholder="Address">
        </div>

        <div class="field">
          <label>Address:</label>
          <input type="text" ng-model="AddUserModal.businessUserInfo.address" placeholder="Address">
        </div>

        <div class="field">
          <label>Phone number:</label>
          <input type="text" ng-model="AddUserModal.businessUserInfo.contactNumber" placeholder="Phone number">
        </div>

        <div class="field">
          <label>Website:</label>
          <input type="text" ng-model="AddUserModal.businessUserInfo.website" placeholder="Website">
        </div>

        <div class="field">
          <label>Contact Name:</label>
          <input type="text" ng-model="AddUserModal.businessUserInfo.contactNames[0]" placeholder="Contact Name">
        </div>
      </fieldset>

    </form>
  </div>
  <div class="modal-footer">
    <div class="Actions">
      <input type="button" ng-click="AddUserModal.ok()" class="btn btn-secondary action-button f-right" value="Save"/>
      <input type="button" ng-click="AddUserModal.cancel()" class="btn btn-primary action-button f-right" value="cancel"/>
    </div>
  </div>
</div>
