<div ng-init="Places.init()">
  <div id="actions-bar">
    <a class="btn btn-primary" ng-click="Places.addPlaces()">Add Places <i class="fa fa-plus-circle"></i></a>

    <div class="f-right">
      <p class="filters"><strong>Created By:</strong>
        <a href="javaScript:void(0);" ng-click="Places.filterBy()">All</a> &#124;
        <a href="javaScript:void(0);" ng-click="Places.filterBy('REGULAR')">Regular</a> &#124;
        <a href="javaScript:void(0);" ng-click="Places.filterBy('LAUNCHSQUAD')">Bump</a> &#124;
        <a href="javaScript:void(0);" ng-click="Places.filterBy('ADMIN')">Admin</a> &#124;
        <a href="javaScript:void(0);" ng-click="Places.filterBy('EDITOR')">Editor</a> &#124;
        <a href="javaScript:void(0);" ng-click="Places.filterBy('BUSINESS')">Business</a>
      </p>
    </div>
  </div>
  <div>
    <table datatable="" dt-options="Places.dtOptions" dt-columns="Places.dtColumns" dt-instance="Places.dtInstance"
           class=" row-border hover bump-table">     
    </table>
  </div>
</div>
