  <div class="login-box">
    <img src="../../assets/images/login-logo.png" alt="What's bumpin" />

    <form ng-submit="Login.login()">
      <fieldset>
        <input type="email" ng-model="Login.credentials.username" name="username" placeholder="Username" required />
        <input type="password" ng-model="Login.credentials.password" name="password" placeholder="Password" required/>
        <br/>
        <a class="cursor-pointer" ui-sref="forgetpassword">forget password ?</a>
      </fieldset>

      <input type="submit" value="Login" class="btn btn-secondary action-button"/>
    </form>
  </div>
