<div ng-init="Domains.init()">
    <div
        ng-switch="(Domains.currentUser.role === Domains.USER_ROLES_OBJ.ADMIN || Domains.currentUser.role === Domains.USER_ROLES_OBJ.EDITOR)">
        <div ng-switch-when="true">
            <div id="actions-bar">
                <button class="btn btn-primary" ng-click="Domains.addMode = !Domains.addMode">Add University</button>

<!--                <div class="search-form">
                    <label>Status</label>
                    <select ng-click="$event.stopPropagation()"
                            ng-options="status as status for status in ['ALL', 'ACTIVE', 'INACTIVE']"
                            ng-model="Domains.serchForStatus">
                    </select>
                </div>-->
            </div>
            <div id="actions-bar" ng-show="Domains.addMode">
                <table class=" row-border bump-table">
                    <tbody>

                        <tr class="table-row" ng-click="Domains.addMode = false">

                            <td class="vertical-align-top">
                                <input class="full-length-text" type="text" placeholder="University Name"
                                       ng-model="Domains.newUniversity.universityName"
                                       ng-click="$event.stopPropagation()"/>
                            </td>
                            <td class="domains">
                                <div>
                                    <div class="domain" ng-repeat="domain in Domains.newUniversity.domainList">
                                        <input type="text" ng-value="domain.name" placeholder="Domain Name"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="Domains.newUniversity.domainList[$index].name"/>
                                        <span>.edu</spaN>
                                    </div>
                                    <div class="clear"><!--  --></div>
                                    <button class="btn btn-primary add-domain" ng-click="Domains.addDomianNew(); $event.stopPropagation()"
                                            type="button">Add a Domain <i class="fa fa-plus-circle "></i>
                                    </button>
                                </div>
                            </td>
                            <td class="status">
                                <div>
                                    <select ng-click="$event.stopPropagation()" ng-repeat="domain in Domains.newUniversity.domainList"
                                            ng-model="Domains.newUniversity.domainList[$index].status">
                                        <option>ACTIVE</option>
                                        <option>INACTIVE</option>
                                    </select>

                                    <div class="clear"><!--  --></div>

                                    <input class="btn btn-secondary action-button" ng-click="Domains.addUniversity(); $event.stopPropagation()"
                                           value="save" type="submit" value="Save"/>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table ng-if="Domains.showDT" datatable="" dt-options="Domains.dtOptions" dt-columns="Domains.dtColumns" dt-instance="Domains.dtInstance" class="row-border hover bump-table">     
    </table>
</div>