<div>
    <div class="modal-header group">
        <h2 class="f-left">Edit details for {{Domains.modalDomain.name}}</h2>
    </div>
    <div class="modal-body">
        
        <table class="bump-table">
            <thead>
                <tr>
                    <th>Name <span class="separator"></span></th>
                    <th>Domains<span class="separator"></span></th>
                    <th>Status <span class="separator"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row">

                    <td class="vertical-align-top">                        
                        <input class="full-length-text" type="text" ng-model="Domains.modalDomain.name" ng-click="$event.stopPropagation()"/>
                    </td>
                    <td class="domains">                        
                        <div>
                            <div class="domain" ng-repeat="domain in Domains.modalDomain.domains">
                                <input type="text" ng-model="domain.name" ng-click="$event.stopPropagation()"/> <span>.edu</span>
                            </div>
                            <div class="clear"><!--  --></div>
                            <button class="btn btn-primary add-domain" ng-click="Domains.addDomian(Domains.modalDomain); $event.stopPropagation()" type="button">Add a Domain <i class="fa fa-plus-circle "></i></button>
                        </div>
                    </td>
                    <td class="status">                        
                        <div>
                            <div ng-repeat="domain in Domains.modalDomain.domains">
                                <select ng-click="$event.stopPropagation()"
                                        ng-options="status as status for status in ['ACTIVE', 'INACTIVE']"
                                        ng-model="domain.status">
                                </select>
                            </div>                                                      
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <div class="Actions">
            <input class="btn btn-secondary action-button" ng-click="Domains.updateUniversity(Domains.modalDomain); $event.stopPropagation()" value="save" type="submit" value="Save"/>
            <input type="button" ng-click="Domains.cancel()" class="btn btn-primary action-button f-right" value="cancel"/>
        </div>        
    </div>
</div>
