<div ng-init="AddEvents.init()">
  <div id="actions-bar" class="stacked">
    <div class="group">
      <div ng-if="AddEvents.currentUser">
        <div class="f-left"  ng-if="AddEvents.currentUser.role===AddEvents.USER_ROLES_OBJ.ADMIN || AddEvents.currentUser.role===AddEvents.USER_ROLES_OBJ.EDITOR || AddEvents.currentUser.role===AddEvents.USER_ROLES_OBJ.LAUNCHSQUAD">
          <div class="edit-all-center">
            <input id="bump" type="checkbox" ng-model="AddEvents.currentObject.bump_type">
            <label for="bump">Create as Bump <span></span></label>
          </div>
        </div>
      </div>
      <div class="f-right">
        <form ng-submit="AddEvents.addEvent()">
          <input class="btn btn-secondary action-button" type="submit" value="Post Event"/>
        </form>
      </div>
    </div>

    <hr/>

    <div class="group">
      <h1 class="f-left"><strong>Add an Event</strong></h1>&nbsp
      <div class="f-right">
        <div class="f-left action-button">
          <label>Category</label>
          <select ng-if="AddEvents.EVENT_CATEGORIES" ng-model="AddEvents.currentObject.category"
                  ng-options="category.value for category in AddEvents.EVENT_CATEGORIES track by category.id">
          </select>
        </div>
        <div ng-if="AddEvents.EVENT_CATEGORY_TYPES" class="f-left action-button">
          <select ng-options="category as category for category in AddEvents.EVENT_CATEGORY_TYPES"
                  ng-model="AddEvents.currentObject.categoryType">
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <form id="events-form" class="two-col-form">
      <fieldset>
        <div class="col col-1">

          <div class="field">
            <label for="place">Event Place:</label>
            <input type="text" id="place" ng-model="AddEvents.event.place_name"/>
            <i class="fa fa-search search-icon"
               ng-click="AddEvents.searchPlaces()"></i>
          </div>

          <div class="field">
            <label for="name">Event Name:</label>
            <input type="text" id="name" ng-model="AddEvents.event.title" required/>
          </div>

          <div class="field">
            <div class="time-fields">
              <label class="f-left" for="startDate">Start Date:</label>

              <div class='input-group date date-picker'
                   date-picker-start-date
                   data-date-default="AddEvents.currentObject.startDate"
                   data-on-date-change="AddEvents.changeStartDate"
                   id="startDate">
                <input type='text' class="form-control" readonly/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
            </div>
            <div class="time-fields">
              <label class="f-left" for="startTime">Start Time:</label>

              <div class='input-group date date-picker'
                   date-picker-start-time
                   data-date-default="AddEvents.currentObject.startDate"
                   data-on-time-change="AddEvents.changeStartTime"
                   id="startTime">
                <input type='text' class="form-control" readonly/>
                    <span class="input-group-addon">
                         <span class="glyphicon glyphicon-time"></span>
                    </span>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="time-fields">
              <label class="f-left" for="endDate">End Date:</label>

              <div class='input-group date date-picker'
                   date-picker-end-date
                   data-date-default="AddEvents.currentObject.endDate"
                   data-on-date-change="AddEvents.changeEndDate"
                   id="endDate">
                <input type='text' class="form-control" readonly/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
            </div>
            <div class="time-fields">
              <label class="f-left" for="endTime">End Time:</label>

              <div class='input-group date date-picker'
                   date-picker-end-time
                   data-date-default="AddEvents.currentObject.endDate"
                   data-on-time-change="AddEvents.changeEndTime"
                   id="endTime">
                <input type='text' class="form-control" readonly/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                    </span>
              </div>
            </div>
          </div>

          <div class="field margin0">
            <label for="tags">Tags:</label>
            <input class="tags" type="text" id="tags" ng-model="AddEvents.newTag"/>
            <button class="btn btn-primary action-button" type="button" id="tag-add" ng-click="AddEvents.addNewKeyword()">Add
            </button>
          </div>

          <div class="field">
            <ul class="tag-list group">
              <li ng-repeat="tag in AddEvents.event.keywords track by $index"><i class="fa fa-times-circle cursor-pointer"
                                                                                 ng-click="AddEvents.removeKeyword($index)"></i>
                {{tag}}
              </li>
            </ul>
          </div>

          <div class="field textarea">
            <label for="place">Recurrence Type:</label>
            <select ng-if="AddEvents.EVENT_RECURRENCE_TYPE"
                    ng-model="AddEvents.currentObject.recurrenceType"
                    ng-options="recurrenceType as recurrenceType for recurrenceType in AddEvents.EVENT_RECURRENCE_TYPE">
            </select>
          </div>
          <div class="field" ng-if="AddEvents.currentObject.recurrenceType !== 'NEVER'">

            <label class="f-left" for="recurrenceEndDate">Recurrence End Date:</label>

            <div class='input-group date date-picker'
                 date-picker-recurrence-date
                 data-date-default="AddEvents.currentObject.recurrenceEndDate"
                 data-on-date-change="AddEvents.changeRecurrenceEndDate"
                 id="recurrenceEndDate">
              <input type='text' class="form-control" readonly/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
          </div>

          <div class="field textarea">
            <label for="description">Description:</label>
            <textarea id="description" ng-model="AddEvents.event.description"></textarea>
          </div>
        </div>

        <div class="col col-2 position-r">
          <div class="photo-upload-cover"><span>Once you post your event you will be able to add photos to it.</span></div>
          <div class="photo-upload">
            <div class="file-drop-area">
              <h2 class="upload-heading">Drop photos (jpegs only) here or</h2>
              <span class="text-danger upload-position-fix">Note: <i>Maximum 10 images can be uploaded at
                once.</i></span>
              <input type="file" class="upload upload-position-fix" multiple
                     file-model='AddEvents.selectedFiles'
                     accept=".jpg, .jpeg, video/*">
              <button ng-disabled="!AddEvents.selectedFiles.length" class="btn btn-secondary upload-btn pull-right"
                      ng-click="AddEvents.uploadFile()">Upload
              </button>
            </div>
          </div>

          <div class="photo-grid">
            <h2>Select main Photo</h2>
            <div class="photo-wrap">
              <div ng-repeat="image in AddEvents.photos" ng-click="AddEvents.addBannerImage(image)"
                   ng-class="{selected:AddEvents.isBannerImage(image)}">
                <span></span>
                <img ng-src="{{image.url}}" height="180px" width="220px"
                     onerror="this.onerror=null; this.src='assets/images/stock-photo.png';" alt="stock photo">
                <i class="btn-close-icon" ng-click="AddEvents.removeBannerImage($event,image)"></i>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>