<div>
  <br>
  <table datatable="ng" dt-options="UserDetails.dtOptions" dt-column-defs="UserDetails.dtColumnDefs"
         class="row-border hover bump-table places-table">
    <thead>
    <tr>
      <th>User Name <span class="separator"></span></th>
      <th>email <span class="separator"></span></th>
      <th>status <span class="separator"></span></th>
      <th>User Type <span class="separator"></span></th>
      <th ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN">Password <span class="separator"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr class="edit table-row cursor-pointer" ng-repeat="individual in UserDetails.businessIndividuals">
      <td><p>{{individual.firstame || individual.first_name}} {{individual.lastName || individual.last_name}}</p></td>
      <td><p>{{individual.email}}</p></td>
      <td class="text-center"><p>{{individual.state || individual.status}}</p></td>
      <td class="text-center"><p>{{individual.role}}</p></td>
      <td ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN" class="text-center">
        <button class="btn btn-primary bPerson" ng-click="UserDetails.resetPassword(individual)">Generate</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>