<div>
  <br>
  <table datatable="ng" dt-options="UserDetails.dtOptions" dt-column-defs="UserDetails.dtColumnDefs"
         class="row-border hover bump-table places-table">
    <thead>
    <tr>
      <th>Place Name <span class="separator"></span></th>
      <th>Location <span class="separator"></span></th>
      <th>Creator <span class="separator"></span></th>
      <th>Assoc. Events <span class="separator"></span></th>
      <th>Fd. Impr <span class="separator"></span></th>
      <th>Dt. Impr <span class="separator"></span></th>
      <th>App CI <span class="separator"></span></th>
      <th>Geo CI <span class="separator"></span></th>
      <th>Shares <span class="separator"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-init="editMode=false" ng-click="editMode = !editMode" class="edit table-row cursor-pointer" ng-repeat="place in UserDetails.userPlaceList">
      <td>
        <p>{{place.name}}</p>
        <a ng-show="editMode" class="btn btn-primary btn-more"
           ng-click="UserDetails.editPlaceDetails(place);$event.stopPropagation()">More</a>
      </td>
      <td><p>{{place.place}}</p></td>
      <td><p>{{place.creatorName}}</p></td>
      <td class="text-center"><p>{{place.associatedEvents}}</p></td>
      <td class="text-center"><p>{{place.feedImpression}}</p></td>
      <td class="text-center"><p>{{place.detailImpression}}</p></td>
      <td class="text-center"><p>{{place.appCheckinCount}}</p></td>
      <td class="text-center"><p>{{place.geoCheckinCount}}</p></td>
      <td class="text-center"><p>{{place.shares}}</p></td>
    </tr>
    </tbody>
  </table>
</div>