<div>
  <br>
  <table datatable="ng" dt-options="UserDetails.dtOptions" dt-column-defs="UserDetails.dtColumnDefs"
         class="row-border hover bump-table places-table">
    <thead>
    <tr>
      <th>Event Name <span class="separator"></span></th>
      <th>Date <span class="separator"></span></th>
      <th>Location <span class="separator"></span></th>
      <th>Creator <span class="separator"></span></th>
      <th>Fd. Impr <span class="separator"></span></th>
      <th>Dt. Impr <span class="separator"></span></th>
      <th>App CI <span class="separator"></span></th>
      <th>Geo CI <span class="separator"></span></th>
      <th>Shares <span class="separator"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-init="editMode=false" ng-click="editMode = !editMode" class="edit table-row cursor-pointer" ng-repeat="event in UserDetails.userEventList">
      <td>
        <p>{{event.name}}</p>
        <a ng-show="editMode"
           class="btn btn-primary btn-more"
           ng-click="UserDetails.editEventDetails(event);$event.stopPropagation()">More</a>
      </td>
      <td><p>{{event.eventDate | date:'medium'}}</p></td>
      <td><p>{{event.place}}</p></td>
      <td><p>{{event.creatorName}}</p></td>
      <td class="text-center"><p>{{event.feedImpression}}</p></td>
      <td class="text-center"><p>{{event.detailImpression}}</p></td>
      <td class="text-center"><p>{{event.appCheckinCount}}</p></td>
      <td class="text-center"><p>{{event.geoCheckinCount}}</p></td>
      <td class="text-center"><p>{{event.shares}}</p></td>
    </tr>
    </tbody>
  </table>
</div>

