<div ng-init="UserDetails.init()" xmlns="http://www.w3.org/1999/html">
  <a href="javaScript:void(0);" ng-click="UserDetails.backToUserList()"><i class="fa fa-angle-left"></i> Back to User
    List</a>

  <div ng-if="UserDetails.userProfileData">
    <div class="info-bar group">
      <div class="f-left">
        <h2 class="user-name">{{UserDetails.userProfileData.first_name}} {{UserDetails.userProfileData.last_name}}</h2>
      </div>

      <div class="f-right">
        <div class="f-left action-button activation-date">
          <p>Activation Date
            <br/>
            <span>{{(UserDetails.userProfileData.registrationDate || UserDetails.userProfileData.registration_date) | date:'dd/MM/yyyy'}}</span>
          </p>
        </div>

        <div class="f-left action-button">
          <label>Status</label>
          <br/>
          <span ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN">{{UserDetails.userProfileData.state}}</span>
          <select ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN"
                  ng-options="state as state for state in UserDetails.AUTHORIZATION_STATE | regularUserState"
                  ng-model="UserDetails.userProfileData.state">
          </select>

        </div>

        <div class="f-left action-button">
          <label>User Type</label>
          <br/>
          <span ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN">{{UserDetails.userProfileData.role}}</span>
          <select ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN"
                  ng-options="role as role for role in UserDetails.USER_ROLES | regularUserRole"
                  ng-model="UserDetails.userProfileData.role">
          </select>
        </div>
      </div>
    </div>
    <hr/>

    <div class="group">
      <form class="user-form two-col-form">
        <fieldset>
          <div class="col col-1">
            <div class="field">
              <label>First name:</label>
              <span ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN">{{UserDetails.userProfileData.first_name}}</span>
              <input ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN" type="text"
                     ng-model="UserDetails.userProfileData.first_name" placeholder="First Name"/>
            </div>

            <div class="field">
              <label>Last name:</label>
              <span ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN">{{UserDetails.userProfileData.last_name}}</span>
              <input ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN" type="text"
                     ng-model="UserDetails.userProfileData.last_name" placeholder="Last Name"/>
            </div>

            <div class="field">
              <label>Email:</label>
              <span>{{UserDetails.userProfileData.email}}</span>
            </div>

            <div class="field password-generator" ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN">
              <label>Password:</label>
              <button class="btn btn-primary action-button" ng-click="UserDetails.resetPassword()">Generate</button>
            </div>
          </div>
          <div class="col col-2">
            <div class="field">
              <label>University</label>
              <span ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN">{{UserDetails.userProfileData.college}}</span>
              <input ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN" type="text" class="btn-university"
                     ng-model="UserDetails.userProfileData.college"/>
            </div>

            <div class="field readonly">
              <label>Grad Year:</label>
              <input type="text" readonly="readonly" ng-model="UserDetails.userProfileData.year"/>
            </div>

            <div class="field readonly">
              <label>Major:</label>
              <input type="text" readonly="readonly" ng-model="UserDetails.userProfileData.major"/>
            </div>

            <div class="field readonly">
              <label>Residence:</label>
              <input type="text" readonly="readonly" ng-model="UserDetails.userProfileData.residence"/>
            </div>

            <div class="field textarea readonly">
              <label>Interests:</label>
              <textarea readonly="readonly">{{UserDetails.userProfileData.attributes.toString()}}</textarea>
            </div>
          </div>
        </fieldset>

        <input ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN" class="btn btn-secondary f-right" type="button" ng-click="UserDetails.saveUserDetails()" value="Save"/>
      </form>
    </div>
    <hr/>

    <div id="tabs">
      <ul>
        <li class="cursor-pointer" ng-repeat="tab in UserDetails.tabs"
            ng-class="{active:UserDetails.isActiveTab(tab.url)}"
            ng-click="UserDetails.onClickTab(tab)">{{tab.title}}
        </li>
      </ul>
      <div id="selectedTab" ng-include="UserDetails.currentTab"></div>
    </div>
  </div>
</div>