<div ng-init="UserDetails.init()">
  <a ui-sref="users.business"><i class="fa fa-angle-left"></i> Back to Business List</a>

  <div class="info-bar group">
    <div class="f-left">
      <h2 class="user-name">{{UserDetails.userProfileData.businessName}}</h2>
    </div>

    <div class="f-right">
      <div class="f-left action-button activation-date">
        <p>Activation Date
          <br/>
          <span>{{UserDetails.userProfileData.registrationDate| date:'dd/MM/yyyy'}}</span>
        </p>
      </div>

      <div class="f-left action-button">
        <label>Status</label>
        <br/>
        <span
            ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN && Users.currentUser.role!==Users.USER_ROLES_OBJ.EDITOR">{{UserDetails.userProfileData.state}}</span>
        <select
            ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR"
            ng-options="state as state for state in UserDetails.AUTHORIZATION_STATE | regularUserState"
            ng-model="UserDetails.userProfileData.state">
        </select>
      </div>

      <div class="f-left action-button role">
        <label>Role</label>
        <br/>
        <span>{{UserDetails.userProfileData.role}}</span>
      </div>

      <div ng-if="UserDetails.BUSINESS_TYPES" class="f-left action-button">
        <label>Business Type</label>
        <br/>
        <span ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN">{{UserDetails.userProfileData.type}}</span>
        <select ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN"
                ng-options="btype as btype for btype in UserDetails.BUSINESS_TYPES"
                ng-model="UserDetails.userProfileData.type">
        </select>
      </div>
    </div>
  </div>
  <hr/>

  <div class="group">
    <form class="two-col-form">
      <fieldset>
        <div class="col col-1">
          <div class="field">
            <label>Business name:</label>
            <span
                ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN && Users.currentUser.role!==Users.USER_ROLES_OBJ.EDITOR">{{UserDetails.userProfileData.businessName}}</span>
            <input
                ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR"
                type="text" ng-model="UserDetails.userProfileData.businessName" placeholder="Business Name"/>
          </div>

          <div class="field">
            <label>Phone:</label>
            <span
                ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN && Users.currentUser.role!==Users.USER_ROLES_OBJ.EDITOR">{{UserDetails.userProfileData.contactNumber}}</span>
            <input
                ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR"
                type="text" ng-model="UserDetails.userProfileData.contactNumber" placeholder="Phone"/>
          </div>

          <div class="field">
            <label>Website:</label>
            <span
                ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN && Users.currentUser.role!==Users.USER_ROLES_OBJ.EDITOR">
              {{UserDetails.userProfileData.website}}
            </span>

            <input
                ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR"
                type="text" ng-model="UserDetails.userProfileData.website" placeholder="Website"/>
          </div>

          <div class="field">
            <label>Address:</label>
            <span
                ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN && Users.currentUser.role!==Users.USER_ROLES_OBJ.EDITOR">
              {{UserDetails.userProfileData.address}}
            </span>
            <input
                ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR"
                type="text" ng-model="UserDetails.userProfileData.address" placeholder="Address"/>
          </div>

          <div class="field" ng-repeat="name in UserDetails.userProfileData.contactNames track by $index">
            <label>Contact Name</label>
            <span
                ng-if="Users.currentUser.role!==Users.USER_ROLES_OBJ.ADMIN && Users.currentUser.role!==Users.USER_ROLES_OBJ.EDITOR">{{UserDetails.userProfileData.contactNames[$index]}}</span>

            <div
                ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR">
              <input type="text" ng-model="UserDetails.userProfileData.contactNames[$index]"
                     placeholder="Contact Name"/>
              <i class="fa fa-minus-circle cursor-pointer" ng-click="UserDetails.removeBusinessContactName($index)"></i>
            </div>
          </div>

          <div class="field"
               ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR">
            <label>Contact Name</label>
            <input type="text" ng-model="UserDetails.contactName" placeholder="Contact Name"/>
            <i class="fa fa-plus-circle cursor-pointer" ng-click="UserDetails.addBusinessContactName()"></i>
          </div>

        </div>

        <div class="col col-2"
             ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR">

          <div class="field">
            <label>First Name:</label>
            <input type="text" ng-model="UserDetails.businessIndividualUserInfo.firstName" placeholder="First Name">
          </div>

          <div class="field">
            <label>Last Name:</label>
            <input type="text" ng-model="UserDetails.businessIndividualUserInfo.lastName" placeholder="Last Name">
          </div>

          <div class="field">
            <label>Email:</label>
            <input type="email" ng-model="UserDetails.businessIndividualUserInfo.email" placeholder="Email">
          </div>

          <div class="field group f-right">
            <button type="button" ng-click="UserDetails.addBusinessIndividual()" class="btn btn-secondary f-right">Add
              person
            </button>
          </div>
        </div>
      </fieldset>
      <input
          ng-if="Users.currentUser.role===Users.USER_ROLES_OBJ.ADMIN || Users.currentUser.role===Users.USER_ROLES_OBJ.EDITOR"
          class="btn btn-secondary f-right" ng-click="UserDetails.saveUserDetails()" type="button" value="Save"/>
    </form>
  </div>
  <hr/>

  <div id="tabs">
    <ul>
      <li ng-repeat="tab in UserDetails.btabs"
          ng-class="{active:UserDetails.isActiveTab(tab.url)}"
          ng-click="UserDetails.onClickTab(tab)">{{tab.title}}
      </li>
    </ul>
    <div id="selectedTab" ng-include="UserDetails.currentTab"></div>
  </div>
</div>
