.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.section {
  padding-left: 50px;
  padding-right: 50px;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.btn-more {
  margin-top: 22px !important;
}

.select-btn {
  height: 40px !important;
  width: auto !important;
}

.bump-table td {
  height: auto !important;
}

.full-length-text {
  min-width: 100%;
}

.vertical-align-top {
  vertical-align: top;
}

.cursor-pointer {
  cursor: pointer;
}

.bump-table .btn.bPerson {
  margin-top: 0;
  vertical-align: middle;
}

.action-button {
  margin-left: 10px !important;
  padding: 0 22px !important;
}

.upload {
  display: inline-block !important;
  width: 260px;

}

.heading {
  margin-left: 15px;
  margin-top: 15px;
}

.margin0 {
  margin: 0 !important
}

/**************************** css for user details page Tab menus*********************************/
#tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#tabs li {
  float: left;
  border: 1px solid #000;
  border-bottom-width: 0;
  margin: 3px 3px 0 3px;
  padding: 5px 5px 0 5px;
  background-color: #CCC;
  color: #696969;
}

#selectedTab {
  border: 1px solid black;
  clear: both;
  padding: 0 1em;
}

#tabs .active {
  background-color: #FFF;
  color: #000;
}

.date-picker {
  width: 80%;
  padding-left: 20px
}

.search-icon {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 15px;
}

#recurrenceEndDate {
  padding-left: 38px;
}

.photo-grid .photo-wrap i.btn-close-icon {
  position: absolute;
  float: right;
  top: 10px;
  right: 5px;
  overflow: auto;
  width: 30px;
  height: 30px;
  background: url(../assets/images/cross_Icon.png) center center no-repeat;
  z-index: 99;
  cursor: pointer;
}

.photo-upload-cover span {
  font-size: x-large;
}

.position-r{position: relative;}

.photo-wrap {height: 350px !important}
.photo-upload-cover {
  border: solid 2px lightgray;
  position: absolute;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
  padding: 80px;
  background-color: white;
  opacity: 0.9;
}

form .password-generator button, .btn-university, span.recurrence_type {
  margin-left: 40px
}

.margin-top-10 {
  margin-top: 10px
}

.creator-select {
  width: 82%
}

.sent-msg {
  margin: 0 60px;
}

/*************************************************************/

/*****************************Loader********************************/

.loader {
  overflow: hidden;
  display: none;
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  background: snow;
  opacity: .6;
}

.loading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  margin: 25% auto;
  margin-bottom: 0;
  overflow: hidden;
}

/*************************************************************/
