<div class="login-box">
  <img src="../../assets/images/login-logo.png" alt="What's bumpin"/>

  <form ng-if="!ForgetPassword.isEmailSent" novalidate name="form" ng-submit="ForgetPassword.sendEmail()">
    <fieldset>
      <input type="email" ng-model="ForgetPassword.email" name="uEmail" placeholder="email" required/>

      <div class="has-error" ng-show="form.$submitted || form.uEmail.$touched">
        <span ng-show="form.uEmail.$error.required">email should not be blank.</span>
        <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
      </div>
      <br/>
      <a class="cursor-pointer" ui-sref="login">login ?</a>
    </fieldset>

    <input type="submit" value="Send" class="btn btn-secondary action-button"/>
  </form>
  <br/>
  <div class="sent-msg">
    <span ng-if="ForgetPassword.isEmailSent">
      An Email has sent successfully on your email id. Go here to <a class="cursor-pointer" ui-sref="login">login</a>.
    </span>
  </div>
</div>
