<div id="header" ng-controller="NavbarCtrl as Navbar">
  <a ng-click="Navbar.state.current=0" id="logo" ui-sref="domains"><img src="../../assets/images/bump-logo.png" alt="Bump" /></a>
  <ul class="main-menu">
    <li ng-repeat="tmp in Navbar.menuItem track by $index"
        ng-class="{current:$index==Navbar.state.current}"
        ng-click="Navbar.state.current=$index">
      <a ui-sref={{tmp.goToState}}>{{tmp.name}}</a>
    </li>
    <li class="pull-right"><a class="signin cursor-pointer" ng-click="Navbar.logout()">Logout</a></li>
  </ul>
</div>

