<div ng-init="AddPlaces.init()">
  <div id="actions-bar" class="stacked">
    <div class="group">
      <div ng-if="AddPlaces.currentUser">
        <div
            ng-if="AddPlaces.currentUser.role===AddPlaces.USER_ROLES_OBJ.ADMIN || AddPlaces.currentUser.role===AddPlaces.USER_ROLES_OBJ.EDITOR || AddPlaces.currentUser.role===AddPlaces.USER_ROLES_OBJ.LAUNCHSQUAD"
            class="f-left">
          <div class="checkbox">
            <input ng-change="AddPlaces.onBumpTypeChange()" id="bump" ng-model="AddPlaces.bump_type" type="checkbox">
            <label for="bump">Create as Bump <span></span></label>
          </div>
        </div>
      </div>
      <div class="f-right">
        <form ng-submit="AddPlaces.addPlace()">
          <input class="btn btn-secondary action-button" type="submit" value="Post Place">
        </form>
      </div>
    </div>

    <hr class="thin">

    <div class="group">
      <h2 class="f-left">Add a Place</h2>

      <div class="f-right">
        <div class="f-left action-button">
          <label>Category</label>
          <select ng-if="AddPlaces.PLACE_CATEGORIES" ng-model="AddPlaces.category"
                  ng-change="AddPlaces.onCategoryChange()"
                  ng-options="category.value for category in AddPlaces.PLACE_CATEGORIES track by category.id">
          </select>
        </div>

        <div ng-if="AddPlaces.PLACE_CATEGORY_TYPES" class="f-left action-button">
          <select ng-options="categoryType as categoryType for categoryType in AddPlaces.PLACE_CATEGORY_TYPES"
                  ng-change="AddPlaces.onCategoryTypeChange()"
                  ng-model="AddPlaces.categoryType">
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <form id="events-form" class="two-col-form">
      <fieldset>
        <div class="col col-1">

          <div class="field">
            <label for="address">Place Addresss:</label>
            <input id="address" type="text" class="form-control"
                   google-location-search callback-fn="AddPlaces.setPlaceAddress(data)"
                   ng-model="AddPlaces.place.address"
                   ng-change="AddPlaces.clearData()">
          </div>

          <div class="field">
            <label for="name">Place Name:</label>
            <input type="text" id="name" ng-model="AddPlaces.place.title"/>
          </div>

          <div class="field textarea">
            <label for="description">Description:</label>
            <textarea class="margin-top-ele" id="description" ng-model="AddPlaces.place.description"></textarea>
          </div>


          <div class="field">
            <label for="website">Website:</label>
            <input type="text" id="website" ng-model="AddPlaces.place.website">
          </div>

          <div class="field margin0">
            <label for="tags">Tags:</label>
            <input type="text" id="tags" ng-model="AddPlaces.newTag"/>
            <button class="btn btn-primary action-button" type="button" id="tag-add"
                    ng-click="AddPlaces.addNewKeyword()">Add
            </button>
          </div>

          <div class="field">
            <ul class="tag-list group">
              <li ng-repeat="tag in AddPlaces.place.keywords track by $index">
                <i class="fa fa-times-circle" ng-click="AddPlaces.removeKeyword($index)"></i>
                {{tag}}
              </li>
            </ul>
          </div>

        </div>

        <div class="col col-2 position-r">
          <div class="photo-upload-cover"><span>Once you post your event you will be able to add photos to it.</span></div>
          <div class="photo-upload">
            <div class="file-drop-area">
              <h2 class="upload-heading">Drop photos (jpegs only) here or</h2>
              <span class="text-danger upload-position-fix">Note: <i>Maximum 10 images can be uploaded at
                once.</i></span>
              <input type="file" class="upload upload-position-fix" multiple
                     file-model='AddPlaces.selectedFiles'
                     accept=".jpg, .jpeg, video/*">
              <button ng-disabled="!AddPlaces.selectedFiles.length" class="btn btn-secondary upload-btn pull-right"
                      ng-click="AddPlaces.uploadFile()">Upload
              </button>
            </div>
          </div>

          <div class="photo-grid">
            <h2>Select main Photo</h2>

            <div class="photo-wrap">
              <div ng-repeat="image in AddPlaces.photos" ng-click="AddPlaces.addBannerImage(image)"
                   ng-class="{selected:AddPlaces.isBannerImage(image)}">
                <span></span>
                <img ng-src="{{image.url}}" height="180px" width="220px"
                     onerror="this.onerror=null; this.src='assets/images/stock-photo.png';" alt="stock photo">
                <i class="btn-close-icon" ng-click="AddPlaces.removeBannerImage($event,image)"></i>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

