<div>
  <div class="modal-header group">
    <label class="f-left heading">Reset Password</label>
  </div>
  <div class="modal-body">
   Please press 'ok' to confirm.
  </div>
  <div class="modal-footer">
    <div class="Actions">
      <input type="button" ng-click="ResetPasswordModal.ok()" class="btn btn-secondary action-button f-right" value="Ok"/>
      <input type="button" ng-click="ResetPasswordModal.cancel()" class="btn btn-primary action-button f-right" value="cancel"/>
    </div>
  </div>
</div>
