<div ng-init=" PlaceDetails.init()">
    <div id="actions-bar" class="stacked">
        <div class="group">
            <div class="f-left" ng-if="(PlaceDetails.currentUser.role !== PlaceDetails.USER_ROLES_OBJ.ADMIN && PlaceDetails.currentUser.role !== PlaceDetails.USER_ROLES_OBJ.EDITOR)">
                <span>{{PlaceDetails.currentObject.status}}</span>
            </div>
            <div ng-if=" PlaceDetails.EP_STATES && (PlaceDetails.currentUser.role === PlaceDetails.USER_ROLES_OBJ.ADMIN || PlaceDetails.currentUser.role === PlaceDetails.USER_ROLES_OBJ.EDITOR)" class="f-left">
                <select ng-click="$event.stopPropagation()"
                        ng-options="status as status for status in PlaceDetails.EP_STATES"
                        ng-model="PlaceDetails.currentObject.status">
                </select>
            </div>

            <div class="f-right">
                <form ng-submit="PlaceDetails.updatePlace()">
                    <button class="btn btn-primary action-button" ng-click="PlaceDetails.addEventAtCurrentPlace()" type="button">
                        Add an event at this place
                    </button>

                    <button class="btn btn-primary action-button" ng-click="PlaceDetails.CreateNewPlaceBasedOnCurrent()"
                            type="button">Create a new place based on this one
                    </button>

                    <input class="btn btn-secondary action-button" type="submit" value="Update">
                </form>
            </div>
        </div>

        <hr class="thin">

        <div class=" group">
            <h2 class="f-left">{{PlaceDetails.place.title}}</h2>

            <div class="f-right">
                <div class="f-left action-button">
                    <label>Category</label>
                    <select ng-if="PlaceDetails.PLACE_CATEGORIES" ng-model="PlaceDetails.currentObject.category"
                            ng-click="$event.stopPropagation()"
                            ng-options="category.value for category in PlaceDetails.PLACE_CATEGORIES track by category.id">
                    </select>
                </div>
                <div ng-if="PlaceDetails.PLACE_CATEGORY_TYPES" class="f-left action-button">
                    <label>&nbsp;</label>
                    <select ng-click="$event.stopPropagation()"
                            ng-options="category as category for category in PlaceDetails.PLACE_CATEGORY_TYPES"
                            ng-model="PlaceDetails.currentObject.categoryType">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <form id="events-form" class="two-col-form">
            <fieldset>
                <div class="col col-1">
                    <div class="field">
                        <label for="createdBy">Created By:</label>
                        <span ng-if="(PlaceDetails.currentUser.role !== PlaceDetails.USER_ROLES_OBJ.ADMIN && PlaceDetails.currentUser.role !== PlaceDetails.USER_ROLES_OBJ.EDITOR)">{{PlaceDetails.place.creator_name}}</span>
                        <div ng-if="PlaceDetails.currentUser.role === PlaceDetails.USER_ROLES_OBJ.ADMIN || PlaceDetails.currentUser.role === PlaceDetails.USER_ROLES_OBJ.EDITOR">
                            <input type="text" id="createdBy" ng-model="PlaceDetails.place.creator_name"/>
                            <i class="fa fa-search search-icon" ng-click="PlaceDetails.searchCreators()"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label for="address">Place Addresss:</label>
                        <input id="address" type="text" class="form-control"
                               google-location-search callback-fn="PlaceDetails.setPlaceAddress(data)"
                               ng-model="PlaceDetails.place.address"
                               ng-change="PlaceDetails.clearData()">
                    </div>

                    <div class="field">
                        <label for="name">Place Name:</label>
                        <input type="text" id="name" ng-model="PlaceDetails.place.title"/>

                    </div>

                    <div class="field textarea">
                        <label for="description">Description:</label>
                        <textarea id="description" ng-model="PlaceDetails.place.description"></textarea>
                    </div>

                    <div class="field">
                        <label for="website">Website:</label>
                        <input type="text" id="website" ng-model="PlaceDetails.place.website">
                    </div>

                    <div class="field margin0">
                        <label for="tags">Tags:</label>
                        <input type="text" id="tags" ng-model="PlaceDetails.newTag"/>
                        <button class="btn btn-primary action-button" type="button" id="tag-add" ng-click="PlaceDetails.addNewKeyword()">Add
                        </button>
                    </div>
                    <div class="field">
                        <ul class="tag-list group">
                            <li ng-repeat="tag in PlaceDetails.place.keywords track by $index">
                                <i class="fa fa-times-circle" ng-click="PlaceDetails.removeKeyword($index)"></i>
                                {{tag}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="file-drop-area">
                        <h2 class="upload-heading">Drop photos (jpegs only) here or</h2>
                        <span class="text-danger upload-position-fix">Note: <i>Maximum 10 images can be uploaded at once.</i></span>
                        <input type="file" class="upload upload-position-fix" multiple
                               file-model='PlaceDetails.selectedFiles'
                               accept=".jpg, .jpeg, video/*">
                        <button ng-disabled="!PlaceDetails.selectedFiles.length" class="btn btn-secondary upload-btn pull-right"
                                ng-click="PlaceDetails.uploadFile()">Upload
                        </button>
                    </div>

                    <div class="photo-grid">
                        <h2>Select main Photo</h2>

                        <div class="photo-wrap">
                            <div ng-repeat="image in PlaceDetails.photos" ng-click="PlaceDetails.addBannerImage(image)"
                                 ng-class="{selected:PlaceDetails.isBannerImage(image)}">
                                <span></span>
                                <img ng-src="{{image.url}}" height="180px" width="220px"
                                     onerror="this.onerror=null; this.src='assets/images/stock-photo.png';" alt="stock photo">
                                <i class="btn-close-icon" ng-click="PlaceDetails.removeBannerImage($event, image)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>